.AddIngredients{
  background-color: rgb(139, 34, 134);
  height: 40%;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.BurgerContent{
  width: fit-content;
  height: 30%;
  
  margin: auto;
}
.Ingredients{
  background-color: bisque;
  width: fit-content;
  margin: auto;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.Ingredient{
 display: flex;
 margin: 5px;

}
.item{
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 15px;
}
Button{
  margin-left: 5px;
}
.CurrentPrice{
  width: 50%;
  margin: auto;
  margin: 20px auto 20px auto;
}
